#1 div{
    color: aqua;
    font-size: 20px;
}

#2 div{
    color: brown;
    font-size: 20px;
    
}




#3 div{
    color: red;
    font-size: 20px;
}






#4 div{
    color: blue;
    font-size: 20px;
}





#5 div{
    color: green;
    font-size: 20px;
}





#6 div{
    color: purple;
    font-size: 20px;
}






#7 div{
    color: blueviolet;
    font-size: 20px;
}





#8 div{
    color: cornflowerblue;
    font-size: 20px;
}





#9 div{
    color: chartreuse;
    font-size: 20px;
}







#10 div{
    color: black;
    font-size: 20px;
}
