div{
    padding: 10px;
}

#div1{
    border: solid red, dashed, dotted;
    margin: 10px;
}

#div2{
    border: solid red, dashed, dotted;
    margin: 10px;
}


#div3{
    border: solid red, dashed, dotted;
    margin: 10px;
}

#div4{
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 10px solid red;
}
   